<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link
      rel="stylesheet"
      href="C:\Users\rizqi mubarrok\Documents\absensiq\absensiq\absensiq\main\static\loginUI.css"
    />
  </head>
  <body>
    <div class="container">
      <!-- Kiri -->
      <div class="left-frame">
        <img
          src="C:\Users\rizqi mubarrok\Documents\absensiq\absensiq\absensiq\main\static\backgroundlogin.jpg"
          alt="Background"
          class="bg-image"
        />
      </div>

      <!-- Kanan -->
      <div class="right-frame">
        <div class="login-box">
          <h1>Selamat Datang Kembali!</h1>
          <p>
            Silakan masuk untuk melanjutkan ke sistem absensi digital sekolah
            Anda.
          </p>

          <form>
            <div class="input-group">
              <input type="text" placeholder="Username" required />
            </div>
            <div class="input-group">
              <input type="password" placeholder="Password" required />
            </div>
            <div class="forgot">
              <a href="#">Forget password?</a>
            </div>
            <button type="submit" class="login-btn">Login</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
